<ion-header>
  <ion-toolbar>
    <ion-title>Monday</ion-title>
  </ion-toolbar>
</ion-header>

<!--  -->
<ion-content>
<!--  -->
<h1>Monday</h1>
<!-- br to create some space -->
<br>
<h4>Welcome! Here you can see todays tasks</h4>
<ion-grid [fixed]="true">
  

<!-- ion-row and ion-col used to make content apper as wanted.
One (1) task for each row-->
<ion-row>
  <!-- size 9 used to make checkox and delete appear as wanted-->
<ion-col size="9">
 <ion-checkbox></ion-checkbox>
 <!-- Here would be task 1-->
  Checkbox Task1
</ion-col>

<ion-col>
  <!-- Button for task deletion, colored red "danger"
  used with each task -->
  <ion-button size="small" color="danger">Delete</ion-button>
</ion-col>
</ion-row>
<!--HERE ENDS TASK1 ROW AND BEGINS TASK2 ROW-->
<ion-row>
  <ion-col size="9">
   <ion-checkbox></ion-checkbox>
    Checkbox Task2
  </ion-col>

  <ion-col >
    <ion-button size="small" color="danger">Delete</ion-button>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="9">
     <ion-checkbox></ion-checkbox>
      Checkbox Task3
    </ion-col>

    <ion-col >
      <ion-button size="small" color="danger">Delete</ion-button>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="9">
       <ion-checkbox></ion-checkbox>
        Checkbox Task4
      </ion-col>

      <ion-col >
        <ion-button size="small" color="danger">Delete</ion-button>
      </ion-col>
      </ion-row>
</ion-grid>

</ion-content>
