<ion-header class="ion-no-border">
  <ion-toolbar color="app" class="ion-text-center">
    <ion-buttons slot="end">
      <ion-button (click)="close()" fill="clear" color="dark">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-input style="background-color: white;" placeholder="New task"></ion-input>
  </ion-row>
  <p style="text-align: center;">
    Want to add more tasks? These tasks were marked undone yesterday:
  </p>
  <ion-card>
    <ion-item style="text-align: center;">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Feed cat</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item style="text-align: center;">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Exercise</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item style="text-align: center;">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Make food</ion-label>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="app" class="ion-text-center">
    <ion-button (click)="close()" color="danger">Add Tasks</ion-button>
  </ion-toolbar>
</ion-footer>
