<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
        <!--PROFILE PICTURE-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="background-color: #D6C9C9; padding-top: 5px;">
  <ion-card color=>
    <img src= />
    <ion-card-header>
      <ion-card-title>Hi User, <br> Let's get busy!</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-col style="align-self: end; padding-left: 100px;">
    <img src="./assets/appimg.png">
    <!--PLACEHOLDER FOR DUMMY CONTENT-->
  </ion-col>
</ion-row>
  <ion-col class="ion-align-self-center">
    
  
    <h2>You've got 4 tasks <br> planned for today</h2>
  </ion-col>
  <section>
    <ion-button expand="block" color="danger">Click to see today's tasks</ion-button>
  </section>
<p><em>In attempts to improve your character, <br>
  know what is in your power <br> and what is beyond it.
  <br><br>Francis Thompson</em></p>
</ion-content>
